@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Righteous&display=swap");
@import "tailwindcss";

@theme {
  /* 1. Font styles */
  --font-sans: "Montserrat", sans-serif;
  --font-display: "Righteous", cursive;

  /* Body text */
  --text-body: 1rem; /* 16px */
  --text-body--font-family: var(--font-sans);
  --text-body--font-weight: 500;

  /* Medium body text */
  --text-medium-body: 1.25rem; /* 20px */
  --text-medium-body--font-family: var(--font-sans);
  --text-medium-body--font-weight: 500;

  /* Small text */
  --text-small: 0.75rem; /* 12px */
  --text-small--font-family: var(--font-sans);
  --text-small--font-weight: 400;

  /* Heading 1 */
  --text-heading-1: 5.61rem; /* 89.76px */
  --text-heading-1--font-family: var(--font-display);
  --text-heading-1--font-weight: 400;

  /* Heading 2 */
  --text-heading-2: 4.209rem; /* 67.34px */
  --text-heading-2--font-family: var(--font-display);
  --text-heading-2--font-weight: 400;

  /* Heading 3 */
  --text-heading-3: 3.157rem; /* 50.51px */
  --text-heading-3--font-family: var(--font-display);
  --text-heading-3--font-weight: 400;

  /* 2. Colors */
  /* Primary tones */
  --color-primary: #18b36d;
  --color-primary-hover: #6ad0a2;
  --color-primary-active: #2f9768;

  /* Black tones */
  --color-black-100: #1f2125;
  --color-black-75: #1f2125bf;
  --color-black-50: #1f212580;
  --color-black-25: #1f212540;
  --color-black-10: #1f21251a;
  --color-black-05: #1f212509;

  /* White tones */
  --color-white-100: #fafafa;
  --color-white-75: #fafafabf;
  --color-white-50: #fafafa80;
  --color-white-25: #fafafa40;
  --color-white-10: #fafafa1a;
  --color-white-05: #fafafa0d;
}

@layer base {
  body {
    background-color: var(--color-black-100);
    @apply text-body;
    color: var(--color-white-100);
  }
}
